In [250]:
import pandas as pd
import numpy as np

In [251]:
dataframe = pd.read_csv('Data/train_p3.tsv', sep = '\t')

In [252]:
dataframe

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2
...,...,...,...,...
156055,156056,8544,Hearst 's,2
156056,156057,8544,forced avuncular chortles,1
156057,156058,8544,avuncular chortles,3
156058,156059,8544,avuncular,2
156059,156060,8544,chortles,2

In [253]:
dataframe.isna().sum()

PhraseId      0
SentenceId    0
Phrase        0
Sentiment     0
dtype: int64

In [254]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
all_stopwords = set(stopwords.words('english'))
stemmer = PorterStemmer()

def preprocess(column):
    corpus = []
    for text in column:
        text = text.lower()
        words = text.replace(',', '')
        words = word_tokenize(words)
        words = [stemmer.stem(word)for word in words if word not in all_stopwords]
        words = ' '.join(words)
        corpus.append(words)
    return corpus

In [255]:
sentances = dataframe.iloc[:, -2].values
store = preprocess(sentances)

In [256]:
len(store)

156060

## Creating training set, test set and Creating BagOfWords

In [257]:
y = dataframe.iloc[:, -1].values
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(store, y, test_size=0.2, random_state=0)

In [258]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(store)

In [259]:
print(X.shape)
y.shape

(156060, 10945)

(156060,)

## Training a Model

In [260]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X, y)

MultinomialNB()

In [261]:
print(pre)

[2 3 2 ... 1 1 2]

In [262]:
# from sklearn.metrics import accuracy_score, confusion_matrix
# print(accuracy_score(y_test, pre))

In [263]:
test_df = pd.read_csv('Data/test_p3.tsv', sep='\t')
test_df.head()

   PhraseId  SentenceId                                             Phrase
0    156061        8545  An intermittently pleasing but mostly routine ...
1    156062        8545  An intermittently pleasing but mostly routine ...
2    156063        8545                                                 An
3    156064        8545  intermittently pleasing but mostly routine effort
4    156065        8545         intermittently pleasing but mostly routine

In [268]:
test_df.dropna(inplace=True)
test_df.isna().sum()

PhraseId      0
SentenceId    0
Phrase        0
dtype: int64

In [269]:
test_phrase = test_df.iloc[:, -1].values
test_bof = preprocess(test_phrase)

In [271]:
test_X = cv.transform(test_bof)

In [274]:
test_predicted = model.predict(test_X)

In [276]:
test_df["Sentiment"] = test_predicted

In [277]:
test_df

,PhraseId,SentenceId,Phrase,Sentiment
0,156061,8545,An intermittently pleasing but mostly routine ...,3
1,156062,8545,An intermittently pleasing but mostly routine ...,3
2,156063,8545,An,2
3,156064,8545,intermittently pleasing but mostly routine effort,3
4,156065,8545,intermittently pleasing but mostly routine,3
...,...,...,...,...
66287,222348,11855,"A long-winded , predictable scenario .",1
66288,222349,11855,"A long-winded , predictable scenario",1
66289,222350,11855,"A long-winded ,",2
66290,222351,11855,A long-winded,2
66291,222352,11855,predictable scenario,1