Customer Churn Prediction

In [201]:
import pandas as pd
import numpy as np

In [202]:
df = pd.read_csv("Data\BankCustomerChurnPrediction.csv")
df.columns

Index(['customer_id', 'credit_score', 'country', 'gender', 'age', 'tenure',
       'balance', 'products_number', 'credit_card', 'active_member',
       'estimated_salary', 'churn'],
      dtype='object')

In [203]:
df.drop('customer_id', axis=1, inplace=True)

In [204]:
df['country'] = df['country'].str.lower()
df['gender'] = df['gender'].str.lower()
df.head()

,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,619,france,female,42,2,0.00,1,1,1,101348.88,1
1,608,spain,female,41,1,83807.86,1,0,1,112542.58,0
2,502,france,female,42,8,159660.80,3,1,0,113931.57,1
3,699,france,female,39,1,0.00,2,0,0,93826.63,0
4,850,spain,female,43,2,125510.82,1,1,1,79084.10,0

In [205]:
df['gender'] = df['gender'].apply(lambda x: 0 if x == 'female' else 1 if x == 'male' else -1 if x == 'others' else None)

In [206]:
df['gender']

0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    0
9998    1
9999    0
Name: gender, Length: 10000, dtype: int64

OneHotEncoding

In [207]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, StandardScaler

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
df['country'] = ct.fit_transform(df[['country']])

Feature Scaling

In [208]:
ss = StandardScaler()
df.loc[:, ['credit_score','age','tenure','balance','estimated_salary']] = ss.fit_transform(df.loc[:, ['credit_score','age','tenure','balance','estimated_salary']])

In [209]:
df.head()

,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,-0.326221,1.0,0,0.293517,-1.041760,-1.225848,1,1,1,0.021886,1
1,-0.440036,0.0,0,0.198164,-1.387538,0.117350,1,0,1,0.216534,0
2,-1.536794,1.0,0,0.293517,1.032908,1.333053,3,1,0,0.240687,1
3,0.501521,1.0,0,0.007457,-1.387538,-1.225848,2,0,0,-0.108918,0
4,2.063884,0.0,0,0.388871,-1.041760,0.785728,1,1,1,-0.365276,0

Spliting the dataset

In [210]:
from sklearn.model_selection import train_test_split
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 0)

Model building and training

In [211]:
from sklearn.svm import SVC
model = SVC(kernel="rbf", random_state=0) #kernel="linear"
model.fit(X_train, y_train)

SVC(random_state=0)

Predicting

In [212]:
pre = model.predict(X_test)
print(np.array(list(zip(y_test, pre))))

[[0 0]
 [1 0]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

Model Evaluation

In [215]:
from sklearn.metrics import confusion_matrix, accuracy_score
print("Confusion Matrix:\n", confusion_matrix(y_test, pre))
print("accurecy score:", accuracy_score(y_test, pre))

Confusion Matrix:
 [[1565   30]
 [ 247  158]]
accurecy score: 0.8615